@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --my-variable-name: #999999;
    --theme: light;
    --bg-color: rgb(255, 255, 255);
    --font-color: rgb(0, 0, 0);
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--bg-color);
    color: var(--font-color);
    padding: 20px;
}

button:hover {
    cursor: pointer;
}

button:active {
    -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
    -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
    box-shadow: inset 0px 0px 5px #c1c1c1;
    outline: none;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 1.5rem;
    width: 100%;
}

.header {
    font-size: 20px;
}

.controls {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    align-items: center;
}

.control-buttons{
    display: flex;  
    gap: 10px;
}
.controls button {
    padding: 10px;
    border-radius: 5px;
}

.controls #add-book {
    background-color: greenyellow;
    font-weight: 800;
}

.controls #add-book:active {
    background-color: rgb(147, 202, 64);
}

.controls #toggle-theme {
    background-color: var(--font-color);
    color: var(--bg-color);
    font-weight: 800;
}

#book-form {
    /* display: flex; */
    /* display: none; */
    flex-direction: column;
    gap: 8px;
    justify-content: around;
    width: min(300px, 90vw)
}
#book-form>label>input {
    flex: 1;
    border: 1px solid var(--bg-color);
}

#book-form .checkbox {
display: flex;
width: 100%;
}

#book-read{
    margin-right: auto;
    margin-left: auto;
}

#add-button{
    width: 100px;
    align-self: center;
    background-color: aqua;
    font-weight: 800;
}

.checkbox{
    flex: 1;
}

.library {
    display: flex;
    flex-direction: column;
    width: 90vw;
}

.books {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.card {
    border: 3px solid var(--font-color);
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4px;
    font-weight: 600;
}

.actions {
    display: flex;
    gap: 10px;
}

.actions button {
    border: 0;
    padding: 5px;
    border-radius: 5px;
    font-weight: 600;
}

.toggle-status {
    background-color: lightblue;
}

.toggle-status:active {
    background-color: rgb(148, 179, 189);
}

.delete {
    background-color: lightcoral
}

.delete:active {
    background-color: rgb(201, 123, 123);
}